# Data Science Tools and Ecosystem #

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Languages of Data Science
- Libraries for Data Science
- Data Sets - Powering Data Science
- Introduction to R and R Studio
- Overview of Git/GitHub

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. SciKit-Learn

| Data Science Tools |
| --- | 
| Apache Spark | 
| Jupyter Notebook | 
| R |

### Below are a few examples of evaluating arithmetic expressions in Python ###

In [16]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [18]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author ##
Alyson Harding